/* Container for the whole course layout */
.course-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
  overflow: hidden; /* Ensure no overflow outside the container */
  width: 100vw;
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
}

/* Styling for navigation buttons */
.navigation-buttons {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  gap: 4px;
}

.nav-button {
  font-size: 24px;
  padding: 10px;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #0556f3;
  border-radius: 4px;
  display: flex;
  align-items: center;
}

.nav-button:hover {
  background-color: #f5f1f1;
  transition: background-color 0.3s;
  border-color: #033ba8;
}

/* Container for course content */
.course-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - 60px); /* Adjust height considering button area */
  overflow-y: auto; /* Enable vertical scrolling */
  overflow-x: hidden; /* Prevent horizontal scrolling */
  gap: 16px;
}

/* Container for each chapter */
.chapter-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  position: relative;
}

/* Styling for chapter name */
.chapter-name {
  font-weight: bold;
  background-color: #ffe2fe;
  padding: 6px;
  border-radius: 4px;
  min-width: 200px;
  margin: 0 10px;
  padding: 10px 20px;
  box-sizing: border-box;
}

.chapter-name.active {
  background-color: #3172b4;
  color: #ffffff;
}

.chapter-name.active.selected {
  border: 1px solid #115fb3;
  background-color: #ffffff;
  color: #115fb3;
}

.chapter-container.active .lessons {
  position: static;
}

/* Container for lessons and traversal icons */
.lessons {
  display: flex;
  align-items: center;
  flex-wrap: nowrap; /* Ensure lessons stay in one line */
  overflow-x: auto; /* Allow horizontal scrolling */
  width: 100%; /* Full width of container */
  scrollbar-width: none;
  position: absolute;
  justify-content: flex-start;
  flex-grow: 0;
  flex-shrink: 0;
}

/* Styling for individual lessons */
.lesson {
  padding: 10px 30px;
  margin: 0px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f5f5f5;
  transition: background-color 0.3s, transform 0.3s;
  white-space: nowrap;
  position: relative;
  z-index: -1;
  overflow: hidden;
}

.lesson::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 100%;
  background-color: grey;
  top: 0;
  left: 0;
}

.lesson::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 100%;
  background-color: grey;
  top: 0;
  right: 0;
}

.lesson#active {
  background-color: #007bff;
  color: white;
}

/* Styling for traversal icons */
.traversal-icon {
  transition: transform 0.3s, opacity 0.3s;
  display: inline-block;
  opacity: 0.6; /* Slightly faded by default */
  height: 12px;
  width: 60px;
}

/* Forward traversal icon animation */
.highlight-forward {
  animation: grow-shrink-forward 0.5s forwards;
  opacity: 1; /* Fully visible when highlighted */
}

/* Backward traversal icon animation */
.highlight-backward {
  animation: grow-shrink-backward 0.5s forwards;
  opacity: 1; /* Fully visible when highlighted */
}

/* Keyframes for forward traversal animation */
@keyframes grow-shrink-forward {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

/* Keyframes for backward traversal animation */
@keyframes grow-shrink-backward {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes move-forward {
  0% {
    z-index: 111;
    opacity: 0;
    visibility: visible;
  }

  100% {
    opacity: 1;
    z-index: off;
    visibility: visible;

    transform: translateX(0px);
  }
}
