@font-face {
  font-family: "EuclidCircularA-Medium";
  src: local("EuclidCircularA-Medium"),
    url("./fonts/EuclidCircularA-Medium.otf") format("opentype");
  font-weight: normal;
}

* {
  font-family: "EuclidCircularA-Medium";
}

h5 {
  margin: 0;
}

:root {
  --primary-color: #0556f3;
  --programiz-brand-divider: #d3dce6;
  --programiz-text-primary: #25265e;
  --programiz-brand-asset-background: #f8faff;

  --programiz-brand-artwork-background: #ffe8d6;
  --programiz-brand-secondary: #6501e5;
}

/* Container for the whole course layout */
.course-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
  overflow: hidden; /* Ensure no overflow outside the container */
  width: 100vw;
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
}

/* Styling for navigation buttons */
.navigation-buttons {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  gap: 4px;
}

.nav-button {
  font-size: 24px;
  padding: 10px;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  display: flex;
  align-items: center;
}

.nav-button:hover {
  background-color: #f5f1f1;
  transition: background-color 0.3s;
  border-color: #033ba8;
}

/* Container for course content */
.course-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - 60px); /* Adjust height considering button area */
  overflow-y: auto; /* Enable vertical scrolling */
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

/* Container for each chapter */
.chapter-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}

/* Styling for chapter name */
.chapter-name {
  font-weight: bold;
  background-color: var(--programiz-brand-artwork-background);
  padding: 6px;
  min-width: 225px;
  margin: 0 0;
  padding: 10px 20px;
  box-sizing: border-box;
  position: relative;
  text-align: center;
  color: var(--programiz-text-primary);
  border: 2px solid var(--programiz-brand-divider);
}

.previous-pointer {
  border: 2px solid var(--programiz-brand-divider);
  background-color: white;
  border-radius: 0;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  height: 4px;
  border-bottom: 0px;
}

.previous-pointer.active {
  border-color: var(--primary-color);
}

.previous-pointer.active.selected {
  background-color: var(--programiz-brand-artwork-background);
}

.next-pointer.active {
  border-color: var(--primary-color);
}

.next-pointer.active.selected {
  background-color: var(--programiz-brand-artwork-background);
}

.next-pointer {
  border: 2px solid var(--programiz-brand-divider);
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  height: 4px;
  border-top: none;
}

.chapter-right-pointer {
  width: 20px;
  border: 2px solid var(--programiz-brand-divider);
  border-left: none;
}

.chapter-right-pointer.active {
  border: 2px solid var(--primary-color);
  border-left: none;
}

.chapter-right-pointer.active.selected {
  background-color: var(--programiz-brand-artwork-background);
}

/* .chapter-name::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 100%;
  border: 2px solid var(--programiz-brand-divider);
  top: 0;
  right: 0;
  background-color: white;
  border-radius: 0;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
} */

/* .chapter-name::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 100%;
  top: 0;
  left: 0;
  border: 2px solid var(--programiz-brand-divider);
  background-color: white;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
} */

.chapter-name.active {
  background-color: var(--programiz-brand-artwork-background);
  border: 2px solid var(--primary-color);
}

.chapter-name.active::after {
  border: none;
  border: 2px solid var(--primary-color);
}

.chapter-name.active::before {
  border: 2px solid var(--primary-color);
  border-bottom: none;
}

.chapter-name.active.selected {
  border: 2px solid var(--primary-color);
}

.chapter-container.active .lessons {
  position: static;
}

/* Container for lessons and traversal icons */
.lessons {
  display: flex;
  align-items: center;
  flex-wrap: nowrap; /* Ensure lessons stay in one line */
  overflow-x: auto; /* Allow horizontal scrolling */
  width: 100%; /* Full width of container */
  scrollbar-width: none;
  position: absolute;
  justify-content: flex-start;
  flex-grow: 0;
  flex-shrink: 0;
  marginleft: -13px;
}

/* Styling for individual lessons */
.lesson {
  padding: 10px 30px;
  margin: 0px;
  border: 2px solid var(--programiz-brand-divider);
  border-radius: 4px;
  background-color: var(--programiz-brand-asset-background);
  transition: background-color 0.3s, transform 0.3s;
  white-space: nowrap;
  position: relative;
  z-index: -1;
  overflow: hidden;
  color: var(--programiz-text-primary);
}

.lesson::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 100%;
  top: 0;
  left: 0;
  border-right: 1px solid var(--programiz-brand-divider);
  background-color: white;
}

.lesson::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 100%;
  border-left: 1px solid var(--programiz-brand-divider);
  top: 0;
  right: 0;
  background-color: white;
}

.lesson#active {
  background-color: var(--programiz-brand-artwork-background);
  color: var(--programiz-text-primary);
  border: 2px solid var(--primary-color);
}

.lesson#active::after {
  border-left: 2px solid var(--primary-color);
}

.lesson#active::before {
  border-right: 2px solid var(--primary-color);
}

.lesson#active::before {
  background-color: #ffffff;
}

.lesson#active::after {
  background-color: #ffffff;
}

/* Styling for traversal icons */
.traversal-icon {
  transition: transform 0.3s, opacity 0.3s;
  display: flex;
  align-items: center;
  opacity: 0.1; /* Slightly faded by default */
  height: 12px;
  margin-top: 2px;
  min-width: 45px;
}

/* Forward traversal icon animation */
.highlight-forward {
  animation: grow-shrink-forward 0.5s forwards;
}

/* Backward traversal icon animation */
.highlight-backward {
  animation: grow-shrink-backward 0.5s forwards;
  opacity: 1;
}

/* Keyframes for forward traversal animation */
@keyframes grow-shrink-forward {
  0% {
    transform: scale(1);
  }
  50% {
    opacity: 1;
    transform: scale(1.2);
  }
  100% {
    /* transform: scale(1); */
  }
}

/* Keyframes for backward traversal animation */
@keyframes grow-shrink-backward {
  0% {
    transform: scale(1);
  }
  50% {
    opacity: 1;
    transform: scale(1.2);
  }
  100% {
    opacity: 0.2;
    transform: scale(1);
  }
}

@keyframes move-forward {
  0% {
    z-index: 111;
    opacity: 0;
    visibility: visible;
  }

  100% {
    opacity: 1;
    z-index: off;
    visibility: visible;

    transform: translateX(0px);
  }
}

.inter-chapter-arrow-container {
  opacity: 0.2;
  display: flex;
  gap: 2px;
  width: "100%";
  justify-content: "center";
}
